ul.navi {
    list-style-type: none;
    justify-content: center;
    display: flex;
}

li.navi {
    display: inline-block;
    padding: 0.5em;
    border: 0px;
    font-size: 22px;
    margin: 0 1em
}

li.navi a:hover {
    color: black;
    background-color: #afcfaf;
    border-radius: 5px;
    padding: 0.5em 1em;
}

.navi .current-page a {
    font-weight: bold;
    color: #eff5ef;
    border-bottom: 2px solid #eff5ef;
}

.nav {
    background-color: DarkSeaGreen;
    padding: 0.5em;
    text-align: center;
}

a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
    color: black;

}
a:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a:active {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.tab-pane {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.bubble {
    background-color: #eff5ef;
    border: 1px solid black;
    border-radius: 20px;
    padding: 1.5em;
    margin: 2em;
    color: black;
    display: center
}
.bubble1 {
    background-color: #eff5ef;
    border: 1px solid black;
    border-radius: 20px;
    padding: 1.5em;
    margin: 2em;
    display: right;
    width: 37%;
    color: black;
}

.bubble2 {
    background-color: #eff5ef;
    border: 1px solid black;
    border-radius: 20px;
    padding: 1.5em;
    margin: 2em;
    display: left;
    width: 37%;
    color: black;
}

.bio-page {
    font-family: Courier, monospace;
}
.education-page .bubble1,
.skills-page .bubble1 {
    background-color: #eff5ef;
    border: 1px solid black;
    border-radius: 20px;
    padding: 1.5em;
    margin: 1.5em;
    float: right;
    width: 37%;
    color: black;
    font-family: Courier, monospace;
}

.education-page .bubble2,
.skills-page .bubble2 {
    background-color: #eff5ef;
    border: 1px solid black;
    border-radius: 20px;
    padding: 1.5em;
    margin: 1.5em;
    width: 37%;
    color: black;
    font-family: Courier, monospace;
}

/*.side-img {
    float: right;
    margin-right: 12em;
    margin-top: 2em;
    max-width: 16%;
    max-height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    float: right;
    display: block;
}*/

.side-img {
    margin-right: 20%;
    margin-top: 2em;
    max-width: 5cm;
    max-height: 5cm;
    border-radius: 8px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
    float: right;
    display: block;
}
/* Table Styling */
table {
    width: 80%;
    margin: auto;
    border-collapse: collapse; /* to remove double borders */
}

th, td {
    padding: 0.5em 0.2em;
    text-align: left;   /* Aligns text to the left */
    border: 1px solid Black;
}


footer {
    text-align: center;
    font-weight: bold;
    padding: 1em;
    background-color: DarkSeaGreen;
    font-size: 0.8em;
    color: Black;
}

